
  /* Header */
  .menu  a {
    color: white;
    width: auto;
    font-weight: bolder;
    font-size: 20px;
    padding: auto;
    text-decoration: none;
    
}

.menu button{
    border: none;
}
