.jumbotron-heading {
    text-align: center;
    padding: 2rem 2rem;
    font-family: Impact, fantasy;
    color: rgb(41, 21, 228);
    font-weight: bold;
}

.card {
    position: relative;
    margin: auto;
    padding: 20px;
    min-width: 20px;
    margin-top: 30px;
}

.card img {
    width: 310px !important;
    height: 317px !important;
    object-fit: cover !important;
}

.card img:hover {
    transform: scale(1.05);
}

/* .btn{
    /* height: 15px !important;
    width: 20px !important; */
    /* margin-left: 15px !important; */
/* }  */

.card-body .btn{
    margin-left: 15px !important;
    font-size: small;
    margin-top: 15px;
    height: 30px;
    text-align: center;
}

